.navbar{
  width: 100%; /* Width is 100% of screen */
  padding: 2%;
  background-color: blue;
}

.sub-navbar{
  width: 100%;
  padding: 1.25%;
  background-color: red;
}

body{
  width: 100%;
  background-color: green;
}